*{
	margin: 0;
	padding:0;
	outline: 0;
	box-sizing: border-box;
}
body{
	background-image: url();
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	font-family: poppins;
}
.navbar{
	padding-top: 20px;
	position: relative;
	width: (100%-80px);
	margin: 0 auto;
	background:	black;
	z-index: 1;
	text-align: right;
	padding-right: 2%;
}
.logo{
	width: 30%;
	float: left;
	color: silver;
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding: 10px 25px;
}
.menu li{
	display: inline-block;
	list-style-type: none;
}
.menu a{
	color: silver;
	display: block;
	padding: 15px 25px;
	font-size: 25px;
	font-weight: 1000;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
	position: relative;
	text-decoration: none;
}
.menu a:hover{
	background: lightgray;
	color: #fff;
	border-radius: 19px;

}

#cancelContri{
	color: silver;
	display: block;
	font-size: 25px;
	font-weight: 1000;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
	position: relative;
	text-decoration: none;
	border: none;
	background: none;
}

#cancelContri:hover{
	background: lightgray;
	color: #fff;
	border-radius: 19px;	
}

#readNotification{
	color: black;
	display: block;
	padding: 3px;
	padding-left: 20px;
	font-size: 17px;
	font-weight: 1000;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
	position: relative;
	text-decoration: none;
	border: none;
	background: none;
}

#readNotification:hover{
	background: lightgray;
	color: #fff;
	padding-left: 20px;
	position: relative;;
		
}

#readNotification{
	color: silver;
	display: block;
	padding: 15px 25px;
	font-size: 20px;
	font-weight: 1000;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
	position: relative;
	text-decoration: none;
	border: none;
	background: none;
}

#readNotification:hover{
	background: lightgray;
	color: #fff;
	border-radius: 19px;	
}

.dropbtn {
	color: silver;
	display: block;
	padding: 10px;
	font-size: 25px;
	font-weight: 1000;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
	position: relative;
	text-decoration: none;
	border: none;
	background: none;
  }
  

  
.dropdown-menu {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: left;
}
  
.dropdown-menu a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	display: block;
}

.dropdown-menu a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
	display: block;
	border-radius: 5px;
}

.dropdown:hover .dropbtn {
	background-color: lightgray;
	color: white;
	border-radius: 19px;
	height: 60px;
}

.numNotification {
	color: orange;
	display: block;
	
	font-size: 25px;
	font-weight: 1000;
	letter-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
	position: relative;
	text-decoration: none;
	border: none;
	background: none;
  }




.searchBox p{
	color: white;
	font-size: 30px;
}

#score{
	width:400px;
	height: 35px;
	padding: 5px;
	border-radius: 5px;
	border: solid black 1px ;
	font-size: 13;
	text-align: center;
	background-color: white;
	margin-top: 5px;
}

h1{
	color: silver;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 150px;
	font-weight: 500;
	font-size: 40px;
	letter-spacing: 1px;
}

hr{
	border-top: 1px silver;
}

#filmName{
	margin: 30px 15px 15px 15px;
}

#movieInformation{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 40px;
	
}

.rightColumn{
	float: left;
	width: 48%;
	padding-top: 20px;
	height: 500px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 9px;
    margin-bottom: 50px;
    margin-left: 400px;
}
.movieReviews{
	width: 650px;
	height: 560px;
	margin: 15px 10px 50px 30px ;
	padding: 20px;
	overflow-y: auto;
	border-radius: 20px;
	background-color: lightgray;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
}

.mightLike{
	width: 600px;
	height: 200px;
	margin: 15px 10px 20px 20px ;
	margin-left: 44px;
	margin-bottom: 30px;
	padding: 20px;
	border-radius: 20px;
	overflow-y: auto;
	background-color: lightgray;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
}

.mightLike a{
	background-color: lightgray;
	color: black;
	display: block;
	padding: 5px;
	text-decoration: none;
	font-size: 17px;
}

#commentBox{
	width: 600px;
	height: 200px;
	padding: 20px;
	border: none;
	border-radius: 20px;
	font-size: 17px;
	background-color: lightgray;
	color: black;
	margin: 15px 20px 20px 20px ;
	overflow-y: auto;
	font-family: Arial, Helvetica, sans-serif;
}

#commentButton{
	background-color: lightgray;
	border: none;
	border-radius: 10px;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 0px 20px 20px 20px ;;
	cursor: pointer;
}





