html
	head
		meta(charset="UTF-8")
		title Home
		style
			include homeStyle.css
	body(onload="init()")
		.navbar
			nav
				ul.menu
					li
						a(href="/signInAccount") SIGN IN
		hr(style="width: 100%; text-align: left; margin-left: 0; margin-right:0")
		
		h1(style="text-align: center;") WELCOME TO THE MOVIE DATABASE!



